*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: cell;
}
 
body{
    /* BACKGROUND IMAGES */
    background-image: url(https://i.postimg.cc/63RpQKQr/Portfolio-image-added-brightness.png);
    background-size: contain;  
   
   
    /* font-family: 'Caveat', cursive; */
    font-family: 'Caveat', cursive;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 24px;

}

.logop{
    color:rgb(127, 110, 172) !important;
}

.homeheight{
    height:66vh;
}

@media screen and (max-width: 500px ){
    .homeheight{
        height:66vh;   /* decrease height of home section when screen size reduced to 500 and below */                         
    }
}

h3{
    padding-bottom: 300px;
}
 
a{
    text-decoration: none;
}
span, i{
    color:rgb(255, 255, 255);
}
/* .images{
    border: 2px dashed rgb(127, 110, 172);
} */
 
/* NAVBAR */
/* NAVBAR COLLAPSE BUTTON ISNT REPONSIVE ON MOBILE BETWEEN */
.navbar-custom {
background-color:  rgb(227, 154, 193) !important;
opacity: 75%;
}
/* Modify brand and text color */        
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
color: rgb(255, 255, 255);
}
.bs-navbar-togglar{
    margin:10rem;
}
 
.navbar-text{
    font-family:'Pathway Gothic One', sans-serif;
}
 
 
/* MAIN */
.main{
    text-align: center;
}

.homecolumn{
    height:50px;
}

/* unvisited link */
.projectlinks{
    color: rgb(127, 110, 172);
    }
/* mouse over link */
a:hover {
    color: rgb(227, 154, 193);
    }

/* BUTTON */

    .btn:hover{
        border-color:rgb(127, 110, 172);
        transform:scale(1.4);
        
    }

    
    li:hover{
        border-color:rgb(127, 110, 172);
        transform:scale(1.1)
    }

    /* BUTTON RESUME */
.timeline-button{
    background-color:transparent;
    color:  rgb(0, 0, 0);
    border:2px dashed;
    border-color: rgb(116, 196, 116);
    text-decoration: none;
    font-weight: bold;
    padding:5px 15px;
    margin:40px;
    position: absolute;
    border-radius: 10px;
    transition: transform .5s;
    }
    
    .timeline-button:hover{
        border-color:rgb(127, 110, 172);
        transform:scale(1.2)
    }

    .timeline-button:hover{
        border-color:rgb(127, 110, 172);
        transform:scale(1.2)
    }
@media screen and (max-width:661px) {
    .timeline-button{
        display:none;
    }
    
}
 
/* FONTS */
.GTAFontsAbout {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

 
/* input (form) */
/* don't know how to apply it to the message box */
input:focus{
    background-color:rgb(227, 154, 193);
  }
 
/* SKILLS */
hr{
    border-top: 6px dashed rgb(127, 110, 172);
}
 
/* Testimonials */
/* COLUMN LAYOUT */
.column{
    width:33%;
    float:left;
    padding:0 10px;
}

/* TEXT SIZE SHRINKING TO SCREEN SIZE */
@media screen and (max-width: 939px){
    .column{
    width:100%;
    padding: 10px;
    }
}

@media screen and (max-width: 500px) {
    .col-12{
        font-size: 16px;
        padding:10;
    }
    body{
        font-size: 16px;
        padding:10;
    }
    .sectionfonts{
        width:50px;
        height:50px;
    }
    
    

}
@media screen and (max-width: 375px) {
    .col-12{
        font-size: 14px;
        padding:5;
    }
    .body{
        font-size: 14px;
        padding:5;
    }
 
}
@media screen and (max-width: 250px) {
    .col-12{
        font-size: 10px;
        padding:0;
    }
    .body{
        font-size: 10px;
        padding:0;
    }
   
}
 
.carouselExampleFade{
    border:2px dashed rgb(127, 110, 172);
}
 
/* Flipcards */
.flip-card {
    background-color: transparent;
    width: 280px;
    height: 280px;
    border: 1px dashed rgb(127, 110, 172);
    border-radius: 20px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: auto;
    margin-bottom: 100px;
  }
 
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 5s;
    transform-style: preserve-3d;
  }
 
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
 
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;  
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
 
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: rgb(127, 110, 172);
    border-radius: 20px;
    opacity: 75%;
    color: rgb(255, 255, 255);
  }
 
  /* Style the back side */
  .flip-card-back {
    background-color: rgb(127, 110, 172);
    border-radius: 20px;
    color: rgb(255, 255, 255);
    transform: rotateY(180deg);
  }

  span{
    font-size: 11px;
    line-height: 1px;
  }
 
/* ANIMATION */
.SocialIconContainer{
    /* Shape */
    border:none;
    border-radius: 30px;
   
    width:50px;
    height:50px;
    margin:auto;
    float: right;
 
    /* position */
    float:right;
   
   
    background-image:url(https://i.postimg.cc/t4dsJcqN/Facebook-Icon-Lavender.png) !important;
    background-size: cover;
}
.SocialIconContainer2{
    /* Shape */
    border:none;
    border-radius: 30px;
   
    width:50px;
    height:50px;
    margin:auto;
    float: right;
 
    /* position */
    float:right;
   
 
    background-image:url(https://i.postimg.cc/j2vsK6qt/Github-Icon-Lavender.png);
    background-size: cover;
}
.SocialIconContainer3{
    /* Shape */
    border:none;
    border-radius: 30px;
   
    width:50px;
    height:50px;
    margin:auto;
    float: right;
 
    /* position */
    float:right;
   
 
    background-image:url(https://i.postimg.cc/g24CrBm9/Instagram-Icon-Lavender.png);
    background-size: cover;
}

/* form color */
/* custom form input colors and styling */
.form-control:focus {
    border-color: rgb(227,154,193);
    color:  rgb(127, 110, 172);
    box-shadow: inset 0 1px 1px rgb(255, 255, 255), 0 0 8px rgb(127, 110, 172);
  }
    
/* ICON HOVER */
.SocialIconContainer:hover{
    animation: firstanimation 3s infinite;
}
.SocialIconContainer2:hover{
    animation: firstanimation 3s infinite;
}
.SocialIconContainer3:hover{
    animation: firstanimation 3s infinite;
}
 
@keyframes firstanimation{
    0%{
        background-color: rgb(227, 154, 193);
        transform: translateX(10);

    }
    30%{
        transform: scale(2);
    }
    50%{
        background-color: rgb(116, 196, 116);
        transform: rotate(300deg);
    }
    100%{
        background-color: rgb(227, 154, 193);
        transform: translateX(50);
    }
}